.sidebar-tab-container {
  width: 5%;
  justify-content: center;
}

.culpa-logo-container {
  width: 20%;
  justify-content: center;
}

.searchbar-container {
  width: 55%;
}

.searchbar {
  width: 100%;
}

.input {
  width: 100%;
}

.write-review-button-container {
  width: 20%;
  justify-content: center;
}