.sidebar-tab {
    width: 5%;
<<<<<<< HEAD
    justify-content: center;
=======
    text-align: center;
>>>>>>> Add custom css to restyle navbar menus
}

.culpa-icon {
    width: 15%;
<<<<<<< HEAD
    justify-content: center;
=======
    text-align: center;
>>>>>>> Add custom css to restyle navbar menus
}

.searchbar {
    width: 60%;
}

.search {
    width: 100%;
}

.input {
    width: 100%;
}

.write-review-button {
    width: 20%;
<<<<<<< HEAD
    justify-content: center;
=======
    text-align: center;
>>>>>>> Add custom css to restyle navbar menus
}