.sidebar-tab {
    width: 5%;
    text-align: center;
}

.culpa-icon {
    width: 15%;
    text-align: center;
}

.searchbar {
    width: 60%;
}

.search {
    width: 100%;
}

.input {
    width: 100%;
}

.write-review-button {
    width: 20%;
    text-align: center;
}